.contactForm {
  background-image: url(../../assets/moored-ship-monaco-seaport.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.display-4 {
  color: black;
  font-weight: bold;
}
.sec_sp {
  color: black;
}

.contact_form .form-control {
  padding: 1.375rem 0.75rem;
  line-height: 1.5;
  color: black;
  background-color: white;
  border-radius: 0;
  border: 1px solid black;
}

.color_sec {
  font-weight: bolder;
  font-size: 35px;
}
.contact-details {
  font-size: 22px;
}

.contact_form input.form-control {
  margin-bottom: 2em;
  height: calc(2.5em + 0.75rem + 2px);
}

.contactButton {
  /* color: white; */
  font-weight: bolder;
  /* padding: 20px; */
  font-size: 15px;
  margin-bottom: 15px;
}
.contactButton:hover {
  color: wheat;
}
