#schedule {
  background-image: url(../../assets/big-luxurious-cruise-ship-docked-nice-harbor-ai-generative.jpg);
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

.sched {
  margin-top: 30px;
  font-family: "Kanit";
  font-size: 30px;
}
